# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Env files
.env
.env.local

# Uploads
backend/uploads/

# Node
node_modules/
dist/
dist-ssr/
*.local
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
